

<div>
    <ul>
        <li  ng-model="task">
            Task info: 
            <p class="primary list"> {{task.description}}</p>
            <p class="secondary list">{{task.company.name}}</p>
            <p class="secondary list">{{task.person.name}}, {{task.person.email}}</p>
            <p class="secondary list">State: {{task.state}}</p>
            <p></p>
        </li>
        <div id="contactDiv" ng-model="contact" ng-hide="!checkForContact()">
            Related contact:
            <p  class="primary list"> {{contact.person.name}}</p>
            <p class="secondary list">{{contact.person.email}}</p>
            <p class="secondary list">{{contact.date| dateFormat}}</p>
            <p class="secondary list"> {{contact.description}}</p>
            
            <div style="position: absolute; right:4%;top:19%;">
                <button id='newFollowupTask' class="actionButton" ng-click="viewNewFollowupTask()" ng-disabled="followuptask_disabled">New Follow Up</button>
            </div>
        </div>
        <div id="newContactDiv" ng-hide="checkForContact()">
            <b>No Contact</b>
            <br/>
            <div style="position: absolute; right:4%;top:19%;">
            <button id='newContact_button' class="actionButton" ng-click="viewNewContact()">Add Contact</button>
            </div>
        </div>
    </ul>
</div>
<div style="position: absolute; right:4%;top:14%;"> 
    <button id='previous_contact' class="actionButton" ng-click="viewPreviousTask()" ng-disabled="previous_disabled">Previous</button>
    <button id='next_contact' class="actionButton" ng-click="viewNextTask()" ng-disabled="next_disabled">Next</button>
</div>