
<div id="home" ng-controller="ViewController" >
    <div id="left">

        <div id="logoDiv">

            <div style="float:left;">
                <img alt="" class="datadevilsLogo" src="resources/images/datadevils.png"/>
            </div>

            <div id="madeByDatadevils">
                <b>microCRM</b>
                <br/>
                by Data Devils
            </div>

        </div>

        <div id="companyPanel"  ng-controller="CompaniesCtrl" >
            <table id="table1">
                <td id="companies">

                    <ul >                                            
                        <li ng-repeat="c in visibleCompanies" >
                            <p id="{{ 'company-' + $index}}" class="primary list company_row" ng-class="{'company_row_selected' : selectedIndex === $index}"  ng-click="getPersons(c, $index)">{{c.name}}
                            </p>
                        </li> 

                    </ul>

                </td>

            </table>
            <div style="padding-left:10px; position: absolute; bottom: 5%;">
                <button class="companyButton" ng-click="nextCompanyPage()" style="float: right;" ng-disabled="nextCompanyDisabled">+</button>
                <button class="companyButton" ng-click="previousCompanyPage()" style="float: right;" ng-disabled="previousCompanyDisabled">-</button>
<!--                <div style="float:right; padding: 5px;"></div>-->
                <button class="companyButton" ng-click="newCompany()" style="float:right;">New Company</button>
            </div> 
        </div>
    </div>
	
	<div id="middle_top">
		<div id="userInfo">
			<div id="pictureOnBar">
				<img ng-src="http://localhost:8080/microcrm/webresources/microCRM_handler/imagebyuser/{{email}}" alt="" class="userPicture"/>
			</div>

			<div id="nameOnBar">
				{{name}}<br/>
				{{userName}}<br/>
                                <a href ng-click="logout()" class="logoutLink">Logout</a>
			</div>
			<br/>
			<div id="logoutLink">
				
			</div>
		</div>
    </div>

    

    <div id="middle_left">

     <!--   <div id="searchPanel">
            <input id="searchbox" type="text" ng-model="search"/>
            <button class="personButton" id="search_button"><img alt="" id="search_image" src="resources/images/search.png"/></button>
        </div> -->

        <div id="personsPanel" ng-controller="PersonsCtrl">

            <table>
                <td id="persons" rowspan="2">
                    <ul>
                        <li ng-repeat="p in visiblePersons">
                            <div class="person_row" ng-class="{'person_row_selected' : selectedIndex === $index}" ng-click="personClicked($index, p)">
                                <div id="pictureOfPerson">
                                    <img ng-src="http://localhost:8080/microcrm/webresources/microCRM_handler/imagebyperson/{{p.email}}" alt="" class="userPicture"/>
                                </div>	                                
                                <div id="personInfo">
                                    <p class="primary list">{{p.name}}</p>
                                    <p class="secondary list">{{p.title}}</p>
                                    <p class="secondary list">{{p.email}}</p>
                                    <p class="secondary list">{{p.phone}}</p>
                                </div>
                           </div>
                        </li>
                    </ul>
                </td>
            </table>
            
            <div style=" width: 29%; position: absolute; bottom: 5%;">
                <button class="personButton" ng-click="nextPersonPage()" style="float: right;" ng-disabled="nextPersonDisabled">+</button>
                <button class="personButton" ng-click="previousPersonPage()" style="float: right;" ng-disabled="previousPersonDisabled">-</button>
<!--                <div style="padding-left:10px; position: absolute; bottom: 5%;" class="buttonDiv">-->
                <button class="personButton" ng-click="newPerson()"style="float:right;">New Person</button>
<!--                </div>-->
            </div> 
            
        </div>

    </div>

    <div id="middle_right">

        <div id="contactPanel" >

            <table>
                <td id="contact" rowspan="1" ng-controller="ContactsCtrl" ng-include="view.url"> 
                </td>
            </table> 
        </div>

        <div id="taskPanel"  ng-controller="TasksCtrl">
            <table>
                <td id="task" rowspan="1">
                    <ul>
                        <li  ng-repeat="t in visibleTasks">
                            <div class="task_row">
                            <a ng-click="getContact(t)">
                                <p  class="primary list" > {{t.description}}</p>
                                <p class="secondary list">Start date {{t.startDate| dateFormat}}</p>
                                <p class="secondary list">Due date {{t.dueDate| dateFormat}}</p>
                            </a>   
                            </div>
                        </li>
                    </ul>
                   
                </td>
            </table>
            <div style="width: 50%; position: absolute; bottom: 7%; right: 4%">
                <button class="taskButton" ng-click="nextTaskPage()" style="float: right;" ng-disabled="nextTaskDisabled">+</button>
                <button class="taskButton" ng-click="previousTaskPage()" style="float: right;" ng-disabled="previousTaskDisabled">-</button>
                <button class="taskButton" ng-click="newTask()" style="float: right;">New Task</button>    

            </div>
        </div>
    </div>
</div>