<div id="loginMessageBox">
    {{loginScreenMessage}}
</div>
<div id="login">
    <div id="loginBox" class="login jumbotron center-block">
        <h1>Login</h1>
        <br/>
        <form role="form">
            <div id="columnLabel">
                <label for="username">Email: </label>
                <br />
                <label for="password">Password:</label>

            </div>
            <div id="columnInput">
                <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Username">
                <br />
                <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
                <br />
                <button class="loginButton" id="loginButton" type="submit" class="loginButton btn-default" ng-click="login()">Submit</button>
            </div>
        </form>
        <br/>

        <br />
        <br />
        <div id="signupLink">
            <a href ng-click="signupPage()">Click here to Signup</a>
        </div>
    </div>
</div>

