
<form id="newEntityForm">
    <div class="newEntityDiv">
        <b>Add Contact</b>
    </div>
        

    <div style="float:left;">
        <ul style="padding-left:0px;">
            <li class="newEntityList">
                <p class="newEntityDescriptionP">Description</p>
                <p class="newEntityP">Person</p>
                <p class="newContactDateP">Date</p>
                <p class="taskDoneP">Task Done</p>
            </li>
        </ul> 
    </div>
    <div style="float:left;">
        <ul>
            <li>
                <p><textarea rows="2" cols="33" ng-model="newContact.description" required></textarea></p>
                <p>
                    <input type="text" ng-model="newContact.person.name" required readonly />
                    <button class="actionButton" ng-Click="clearPerson()" formnovalidate>Clear</button>
                </p>
                <p><input type="text" ng-model="newContact.date" datepicker required/></p>
                <p><input type="checkbox" ng-model="newContact.taskdone"/></p>
            </li>
        </ul>
    </div>
    <div style="position: absolute; right:4%;top:42%;">
        <button class="actionButton" value="Submit" ng-Click="submitContactForm()">Submit</button>
    </div>
    {{newEntityMessage}}
</form>
<div style="position: absolute; right:4%;top:14%;"> 
    <button id='returnToTask' class="actionButton" ng-click="viewContacts()" >Return</button>
</div>