
<form id="newEntityForm" ng-controller="NewEntityCtrl">
    <div class="newEntityDiv">
        <b>New Company</b>
    </div>
    <div style="float:left;">
        <ul style="padding-left:0px;">
            <li class="newEntityList">
                <p class="newEntityP">Name</p>  
            </li>
        </ul> 
    </div>
    <div style="float:left;">
        <ul>
            <li>
                <p>
                    <input type="text" name="name" ng-model="newCompany.name" required/>
                    <button class="actionButton" value="Submit" ng-Click="submitCompanyForm()">Submit</button>
                </p>
            </li>
        </ul>
    </div>
    {{newEntityMessage}}
</form>

