
<form id="newEntityForm" ng-controller="NewEntityCtrl">
    <div class="newEntityDiv">
        <b>New Follow Up Task</b>
    </div>
    <div style="float:left;">
        <ul style="padding-left:0px;">
            <li class="newEntityList">
                <p class="newEntityDescriptionP">Description</p>
                <p class="newEntityP">Start Date</p>
                <p class="newEntityP">Due Date</p>
                <p class="newEntityP">Company</p>
                <p class="newEntityLastP">Person</p>
            </li>
        </ul> 
    </div>
    <div style="float:left;">
        <ul>
            <li>
                <p><textarea rows="2" cols="32" ng-model="newFollowupTask.description" required></textarea></p>
                <p><input type="text" ng-model="newFollowupTask.start_date" datepicker required/></p>
                <p><input type="text" ng-model="newFollowupTask.due_date" datepicker required/></p>
                <p><input type="text" ng-model="newFollowupTask.company.name" readonly /></p>
                <p>
                    <input type="text" ng-model="newFollowupTask.person.name" readonly />
                    <button class="actionButton" ng-Click="clearCompanyAndPerson()" formnovalidate>Clear</button>
                </p>
            </li>
        </ul>
    </div>
    <div style="position: absolute; right:4%;top:42%;"> 
        <button value="Submit" class="actionButton" ng-Click="submitFollowupTaskForm()">Submit</button>
    </div>
    {{newEntityMessage}}
</form>
<div style="position: absolute; right:4%;top:14%;"> 
    <button id='returnToTask' class="actionButton" ng-click="viewContacts()" >Return</button>
</div>