
<form id="newEntityForm" ng-controller="NewEntityCtrl">
    <div class="newEntityDiv">
        <b>New Person</b>
    </div>
    <div style="float:left;">
        <ul style="padding-left:0px;">
            <li class="newEntityList">
                <p class="newEntityP">Name</p>
                <p class="newEntityP">Title</p>
                <p class="newEntityP">Email</p>
                <p class="newEntityP">Phone</p>
        <!--        <p class="newEntityP">Company</p>     -->
            </li>
        </ul> 
    </div>
    <div style="float:left;">
        <ul>
            <li>
                <p><input type="text" name="name" ng-model="newPerson.name" required/></p>
                <p><input type="text" name="title" ng-model="newPerson.title" required/></p>
                <p><input type="text" name="email" ng-model="newPerson.email" required /></p>
                <p><input type="text" name="phone" ng-model="newPerson.phone" required/></p>
                <div class="signupLabel">
                    <label for="fileSelect" class="signupLabel">Select picture:</label>
                    <br />
                    <input class="actionButton" id="fileSelect" ng-file-select="onFileSelect($files)" type="file" name="file" size="45" />
                </div>
				
				<p>
         <!--           <input type="text" ng-model="newPerson.company.name" required readonly /> -->
                    
                </p>
            </li>
        </ul>
    </div>
    {{newEntityMessage}}
    <div style="position: absolute; right:4%;top:42%;"> 
    <button class="actionButton" ng-Click="clearCompanyAndPerson()" formnovalidate>Clear</button>
	<button class="actionButton" value="Submit" ng-Click="submitPersonForm()">Submit</button>
    </div>
</form>