
<form id="newEntityForm" ng-controller="NewEntityCtrl">
    <div class="newEntityDiv">
        <b>New Task</b>
    </div>
    <div style="float:left;">
        <ul style="padding-left:0px;">
            <li class="newEntityList">
                <p class="newEntityDescriptionP">Description</p>
                <p class="newEntityP">Start Date</p>
                <p class="newEntityP">Due Date</p>
                <p class="newEntityP">Company</p>
                <p class="newEntityLastP">Person</p>
            </li>
        </ul> 
    </div>
    <div style="float:left;">
        <ul>
            <li>
                <p><textarea rows="2" cols="32" ng-model="newTask.description" required></textarea></p>
                <p><input type="text" ng-model="newTask.start_date" datepicker required/></p>
                <p><input type="text" ng-model="newTask.due_date" datepicker required/></p>
                <p><input type="text" ng-model="newTask.company.name" readonly /></p>
                <p>
                    <input type="text" ng-model="newTask.person.name" readonly />
                    <button class="actionButton" ng-Click="clearCompanyAndPerson()" formnovalidate>Clear</button>
                </p>
            </li>
        </ul>
    </div>
    <div style="position: absolute; right:4%;top:42%;"> 
        <button class="actionButton" value="Submit" ng-Click="submitTaskForm()">Submit</button>
    </div>
    {{newEntityMessage}}
</form>

