
<div id="signup">
    <div id="signupBox" class="signup jumbotron center-block">
        <h1>Signup</h1>
        <br/>
        <form name="signupForm" role="form">
            <div id="signupColumn">
                <div class="signupLabel">
                    <label for="userEmail" >Email: </label>
                    <br />
                    <input type="email" ng-model="user.email" name="userEmail" id="userEmail" placeholder="email" required />
                    <br />
                    <span class="errorText" ng-show="signupForm.userEmail.$error.required">Email is required.</span>
                    <span class="errorText" ng-show="signupForm.userEmail.$error.email">Invalid email address.</span>
                </div>
                <div class="signupLabel">
                    <label for="userName" class="signupLabel">Name: </label>
                    <br />
                    <input type="text" ng-model="user.name" name="userName" id="userName" placeholder="name" required />
                    <br />
                    <span class="errorText" ng-show="signupForm.userName.$error.required">Name is required.</span>
                </div>
                <div class="signupLabel">
                    <label for="userPassword" class="signupLabel">Password:</label>
                    <br />
                    <input type="password" id="userPassword" name="userPassword" ng-model="user.password" placeholder="" required />
                </div>
                <div class="signupLabel">
                    <label for="userVerifyPassword" class="signupLabel">Verify password:</label>
                    <br />			
                    <input type="password" id="userVerifyPassword" name="userVerifyPassword" ng-model="verify" placeholder="" required password-check="user.password" />
                </div>

                <div class="signupLabel">
                    <label for="fileSelect" class="signupLabel">Select user picture:</label>
                    <br />
                    <input class="loginButton" id="fileSelect" ng-file-select="onFileSelect($files)" type="file" name="file" size="45" />
                </div>

                <span class="errorText" ng-show="signupForm.userVerifyPassword.$error.pwmatch">Passwords don't match.</span>

                <div class="signupLabel">
                    <button type="submit" class="loginButton" 
                            ng-disabled="signupForm.userVerifyPassword.$error.pwmatch ||
                                        signupForm.userEmail.$error.required ||
                                        signupform.userPassword.$error.required ||
                                        signupForm.userVerifyPassword.$error.required ||
                                        signupForm.userName.$error.required" ng-click="signup()">Submit</button>
                </div>
        </form>
        <div id="returnLink">
            <a href ng-click="return()">Return to Login</a>
        </div>
    </div>	
</div>