/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2015, 11:57:33 AM
    Author     : Verneri
*/

html{
    background-color: white;
}

#layout{
    border-collapse: collapse;
/*    width: 854px;
    height: 480px; */
	
	width: 1024px;
	height: 640px;
	
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	padding: 25px;
	box-shadow: 10px 10px 5px #888888;
	background-color: black;
	font: 15px lucida grande, sans-serif;
	letter-spacing: 0.5px;
	
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}



