button.companyButton {
      background: #315B7E;
      box-shadow: 3px 3px 1px #2B2B2B;
}

button.personButton {
      background: #7B899B;
}

button.taskButton {
      background: #9B709B;
}

button.actionButton {
      background: #996D74;
}

button.loginButton {
        margin-left: 0px;
        margin-bottom: 10px;
        background: #70337F;
}

#search_button{
    float:right;
    width: 30px;
    height: 30px;
    padding: 0px;
}
        
button {
      background: #385f78;
      text-shadow: 1px 1px 3px #666666;
      box-shadow: 3px 3px 1px #404040;
      border: 1px;
      border-color: #3385AD;
      margin-left: 5px;
      margin-right: 5px;
      font-family: Helvetica, Arial, Sans-Serif;
      color: #ffffff;
      font-size: 12px;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      vertical-align: middle;
      transition: box-shadow 0.3s, top 0.3s, left 0.3s;
   }
   
button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
   
button:active {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    position: relative;
    box-shadow: none;
    top: 3px;
    left: 3px;
}
   
   
button:disabled {
    color: #666666;   
    position: relative;
    box-shadow: none;
    top: 3px;
    left: 3px;

}   