#home{
    border-collapse: collapse;
    background-color: lightsteelblue;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

td{
    text-align: left;
    vertical-align: text-top;
    width: 100%
}

ul{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    width: 100%
}

.newEntityList{
    text-align:right;
}

.newEntityP{
    margin-top:16px;
    margin-bottom:19px;
}

.newContactDateP{
    margin-top:26px;
    margin-bottom:19px;
}

.taskDoneP{
    margin-top:18px;
    margin-bottom:0px;
}

.newEntityDescriptionP{
    margin-top:17px;
    margin-bottom:36px;
}

.newEntityLastP{
    margin-bottom:0px;
}

.list{
    margin: 0px;
}

.primary{
    font-weight: bold;
    margin-top: 6px;
}

.secondary{
    visibility: visible;
}

#userInfo{
    height: 85%;
    float: right;
    //background-color: steelblue;
    padding: 3px;
    padding-right: 1px;
    padding-left:5px;
    margin-right: 5px;
    font: 12px georgia, serif;
    //text-shadow: 0px 0px 4px #A2C0DA;	
    letter-spacing: 1px;
}

#pictureOnBar{
    float: right;
    margin-right: 3px;
    margin-top: 2px;
}

#pictureOfPerson{
    float: right;
    margin-right: 3px;
    margin-top: 2px;
	box-shadow: 0px 0px 3px #000066;
}

.logoutLink{
    color: white;
    text-decoration: none;
}

.logoutLink:hover{
    text-decoration: none;
    color: red;
}

#nameOnBar{
    float: left;
    padding-right: 15px;
    color: black;
    text-align: right;
}

#middle_top{
    float: left;
    height: 8%;
    width: 80%;
    background-color: cornflowerblue;
    box-sizing: border-box;
    border-top-right-radius: 5px;
}

#navBar{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#left{
    float:left;
    background-color: steelblue;
    width: 20%;
    height: 100%;
    clear: left;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#logoDiv{
    padding-left: 15px;
    padding-top: 5px;
    height: 10%;
    color: black;
    //text-shadow: 0px 0px 2px #A2C0DA;
    letter-spacing: 1px;	
}

.datadevilsLogo{
    height:50px; 
    width:50px;
}

#madeByDatadevils{
    float:left;
    font: 14px georgia, serif;
    padding-top:10px;
    padding-left:12px;
}

.userPicture{
    width: 40px;
    height: 40px;
}

.buttonDiv{
    padding-top: 5px;
    padding-left: 10px;
}

#companyPanel{
    padding-top: 4px;
    height: 83%;
    width: 100%;
}

#companies{
    width: 100%;    
}

#table1{
    width: 90%;
}

.company_row{
    background-size: 200% 100%;
    background-position: -100% 0%;
    background-image: linear-gradient(to left, steelblue 50%, lightsteelblue 50%);

    /*    background-color: steelblue; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120%;
    transition: text-shadow 0.3s, margin-left 0.3s, background-position 0.3s;
}

.company_row:hover{
    /*    background-color: lightsteelblue; */
    background-position: 0% 0%;
    margin-left: 10px;
    padding: 5px;
    padding-right: 0px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    //text-shadow: 2px 2px 8px #FFFFFF;	
}

.company_row_selected{
    /*    background-color: lightsteelblue; */
    background-position: 0% 0%;
    margin-left: 10px;
    padding: 5px;
    padding-right: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    //text-shadow: 2px 2px 8px #FFFFFF;	
}

.person_row{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    width: 260px;
    box-shadow: 0px 0px 3px #000066;
    transition: box-shadow 0.3s, margin-top 0.3s, margin-left 0.3s, background-color 0.3s;
}

.person_row .primary{
    text-decoration: underline;
}

.person_row:hover{
    background-color:white;
    margin-top: 5px;
    margin-left: 0px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #464E59;
}

.person_row_selected{
    background-color:white;
    margin-top: 5px;
    margin-left: 0px;
    box-shadow: 4px 4px 4px #464E59;
}

.task_row {
    padding: 2px;
    transition: color 0.3s, padding 0.3s;
}

.task_row:hover{
    padding: 10px;
    background: #9B709B;
    color: #ffffff;
    cursor: pointer;
}

#middle_left{
    float: left;
    width: 30%;
    height: 90%;
}

/*
#searchPanel{
    background-color: lightsteelblue;
    height: 10%;
    padding-left: 17px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
} */

#searchbox{
    width: 80%;
    height: 24px;
}



#search_image{
    width: 20px;
    height: 20px;
}

#personsPanel{
    
    background-color: lightsteelblue;
    height: 100%;
    padding-top: 4px;
    box-sizing: border-box;
    font: 12px courier new, monospaced;
}

#middle_right{
    float: right;
    width: 50%;
    height: 90%;
    border-bottom-right-radius: 5px;
}

#contactPanel{
    background-color: lightpink;
    height: 42%;
    padding-top: 4px;
    margin: 10px;
    box-shadow: 4px 4px 4px #464E59;
    font: 12px georgia, serif;
    //text-shadow: 0px 0px 2px #A2C0DA;
    letter-spacing: 1px;
}

#taskPanel{
    background-color: plum;
    height: 53%;
    padding-top: 4px;
    margin: 10px;
    box-shadow: 4px 4px 4px #464E59;
    font: 12px georgia, serif;
    //text-shadow: 0px 0px 2px #A2C0DA;
    letter-spacing: 1px;
}

#newEntityForm{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    width: 100%
}

.newEntityDiv{
    padding-bottom: 4px;
}
