#login{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    background: dodgerblue;
    box-sizing: border-box;
    border-radius: 5px;
}

#loginBox{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 15px;
    background-color: mediumorchid;
    box-shadow: 0px 0px 7px #000066;
}

#loginMessageBox{
    position: absolute;
    top: 6%;
    left: 4%;
}

#columnLabel{
    float: left;
}

#loginButton{
    margin-top: 10px;
}

#columnInput{
    float: left;
    padding-left: 10px;
}

h1 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.30em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#signupLink{
    padding-top: 20px;
}