#signup{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
	background: dodgerblue;
    box-sizing: border-box;
	border-radius: 5px;
}

#signupBox{
	position: absolute;
    top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	padding: 15px;
	background-color: mediumorchid;
	box-shadow: 0px 0px 7px #000066;
}

button#signupBox{
	margin-top: 10px;
}

#signupColumn{
	float: left;
	padding-left: 10px;
}

h1 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.30em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.signupLabel {
	padding-top: 10px;
}

.errorText {
	color: darkred;
}